In [5]:
num1 = input('enter the first no=')
num2 = input('enter the second no=')
sum = float(num1)+float(num2)
print('the sum of{0} and {1} is {2} '.format(num1,num2,sum))

enter the first no=12.09
enter the second no=14.99
the sum of12.09 and 14.99 is 27.08

In [6]:
num1 = input('enter the first no=')
num2 = input('enter the second no=')
sum = float(num1)-float(num2)
print('the substraction of{0} and {1} is {2} '.format(num1,num2,sum))

enter the first no=30.90
enter the second no=20.08
the substraction of30.90 and 20.08 is 10.82

In [7]:
num1 = input('enter the first no')
num2 = input('enter the second no')
sum = float(num1)*float(num2)
print('the Multiplication of{0} and {1} is {2} '.format(num1,num2,sum))

enter the first no12.09
enter the second no9.00
the Multiplication of12.09 and 9.00 is 108.81

In [8]:
num1 = input('enter the first no')
num2 = input('enter the second no')
sum = float(num1)/float(num2)
print('the Division of{0} and {1} is {2} '.format(num1,num2,sum))

enter the first no15.00
enter the second no3.00
the Division of15.00 and 3.00 is 5.0

In [20]:
a=(input('Enter first number:-'))
b=(input('Enter second number:-'))
if(a>b):
     print('a is greater than b')
elif(b>a):
     print('b is greater than a')
else:
     print('both are equal')

Enter first number:-7
Enter second number:-5
a is greater than b

In [23]:
name='Hello to all Welcome to the World of python and lets all come together to Learn a new Language '
print(name.upper())

HELLO TO ALL WELCOME TO THE WORLD OF PYTHON AND LETS ALL COME TOGETHER TO LEARN A NEW LANGUAGE

In [24]:
name='Hello to all Welcome to the World of python and lets all come together to Learn a new Language'
print(name.lower())

hello to all welcome to the world of python and lets all come together to learn a new language

In [32]:
num1=4
num2=6
if(num1>=num2):
    print("num1 is greater")
else:
    print("num2 is greater")

num2 is greater

In [34]:
num1=4
num2=6
num3=9
if(num1>=num2)and(num1>=num3):
    largest=num1
elif (num2>=num1)and(num2>=num3):
    largest=num2
else:
        largest=num3
        print("the largest number is",largest)

the largest number is 9

In [37]:
num1=7
num2=9
num3=2
if(num1<=num2)and(num1<=num3):
    lowest=num1
elif (num2<=num1)and(num2<=num3):
    lowest=num2
else:
    lowest=num3
    print("the lowest number is",lowest)

the lowest number is 2

In [1]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

Enter first number: 7
Enter second number: 8
Enter third number: 9
The largest number is 9

In [3]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
 
if (num1 < num2) and (num1 < num3):
   lower = num1
elif (num2 < num1) and (num2 < num3):
   lower = num2
else:
   lower = num3
 
print("The lower number is",lower)

Enter first number: 8
Enter second number: 6
Enter third number: 9
The lower number is 6

In [5]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if(num1>=num2):
    print(num1,"is greater")
else:
    print(num2,"is greater")

Enter first number: 7
Enter second number: 8
8 is greater

In [6]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if(num1<=num2):
    print(num1,"is Lowest")
else:
    print(num2,"is Lowest")

Enter first number: 7
Enter second number: 8
7 is Lowest

In [36]:
num1=23
num2=90
temp=0
print("before swapping:",num1,num2)
temp=num1
num1=num2
num2=temp
print("after swapping:",num1,num2)

before swapping: 23 90
after swapping: 90 23

In [7]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("before swapping:",num1,num2)
temp=num1
num1=num2
num2=temp
print("after swapping:",num1,num2)

Enter first number: 7
Enter second number: 8
before swapping: 7 8
after swapping: 8 7

In [8]:
import calendar
yy=2003 #year
mm= 9 #month
print(calendar.month(yy,mm))

   September 2003
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [9]:
import math
print("value of pi is",math.pi)

value of pi is 3.141592653589793

In [10]:
print('1\n2 3\n4 5 6 \n7 8 9 10\n11 12 13 14')

1
2 3
4 5 6
7 8 9 10
11 12 13 14

In [21]:
print('\t ** \t **')
print('\t** ** \t** **')
print('\t ** \t ** ')
print('\t** ** \t** **')

	 ** 	 **
	** ** 	** **
	 ** 	 **
	** ** 	** **